html, body {    
  /* max-width: 100vw; */
  min-height: 100vh;
  overflow-x: hidden;     
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  /* max-width: 1366px; */
  /* width: 100%; */
  min-height: 100vh;
  /* margin: 0 auto;   */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
}

.carousel{  
  margin-top: 80px;  
}

.main {
  flex: 1;
  padding: 0 300px;
  margin: 5px 5px;
  text-align: justify;
}