.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    margin-right: 4opx;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
}